{% extends 'base.html.twig' %}

{% block title %}
Lineshop
{% endblock %}

{% block body %}
	<div id="root"></div>
	<a href="{{ path('admin') }}" class='btn btn-danger'>Admin dashboard</a>
{% endblock %}
