{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}

	<h1>Liste articles</h1>

	{%for article in articles %}
		<p>{{article.getNameArticle()}}</p>
	{% endfor %}
{% endblock %}
